
{% extends "home-template/home-template.twig" %}
{% block content %}
                  
<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color: #FFF">Lista de eventos</h2>
                    <br>
                    {% if events == '' %}
                        <h3 class="text-center" style="color: #FFF">Nenhum evento ainda foi cadastrado. Click no botão abaixo para cadastrar!</h3>
                        <div class="text-center">
                        <a href="#aevent" data-toggle="modal" >
                            <button class="btn btn-primary" style="margin-top:20px; text-transform: uppercase; ">Cadastrar evento</button>
                        </a>
                        </div>
                    {% else %}
                    <h3 >Total : {{total}}</h3>
                    <div class="table-responsive">
                          
                    <table class="table table-striped">
                      <thead>
                        <tr style="background-color: #FFF">
                          <th>#</th>
                          <th>Descrição</th>
                          <th>Local</th>
                          <th>Responsável</th>
                          <th>Data e hora</th>
                          <th>Acção</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% set i = 0 %}
                        {% for event in events | reverse %}
                            {% set i = i+1 %}
                            <tr style="background-color: #FFF">
                                <td>{{ i }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.local  }}</td>
                                <td>{{ event.locutor  }}</td>
                                <td>{{ event.e_date }} {{ event.e_time }}</td>
                                <td >
                                    <a href="#aevent" data-toggle="modal" title="Cadastrar"><span class="glyphicon glyphicon-plus-sign" ></span></a>
                                    <button type="button" data-target="#eventModal" data-toggle="modal"  role="button" style=" background-color: transparent; border-style: none;"  data-id="{{ event.id }}" data-nome="{{ event.locutor }}" data-desc="{{ event.description }}" data-local="{{ event.local }}" data-temp="{{ event.e_date }} {{ event.e_time }}" title="Editar"><span class="glyphicon glyphicon-edit" ></span></button>
                                    <button type="button" data-target="#deleteEventModal" data-toggle="modal"  role="button" style=" background-color: transparent; border-style: none;"  data-ide="{{ event.id }}" title="Deletar"><span class="glyphicon glyphicon-trash" ></span></button>
                                </td>
                            </tr> 
                        {% endfor %} 
                      </tbody>
                    </table>
                        {% if pagination.needed %}
                        <div class="ui pagination menu">
                            {% for i in 1..pagination.lastpage %}
                                <a class="{% if i == pagination.page %}active{% endif %} item" href="?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
                  {% endif %} 
                </div>
                
            </div>
        </div>  
{% endblock %}    
   
